<h2>みんなで香典集計</h2>
<button type="button" onclick="location.href='https://">ゲスト１さんを招待する</button><br>
<button type="button" onclick="location.href='https://">ゲスト２さんを招待する</button><br>
<button type="button" onclick="location.href='https://">ゲスト３さんを招待する</button><br>
<button type="button" onclick="location.href='https://">ゲスト４さんを招待する</button><br>
<button type="button" onclick="location.href='https://">ゲスト５さんを招待する</button><br>
<button type="button" onclick="location.href='https://">ホストの集計管理ページ</button><br>