<h2>みんなで香典集計</h2>
<input type="submit" value="ゲスト１さんを招待する">
<input type="submit" value="ゲスト２さんを招待する">
<input type="submit" value="ゲスト３さんを招待する">
<input type="submit" value="ゲスト４さんを招待する">
<input type="submit" value="ゲスト５さんを招待する">
<input type="submit" value="ホストの集計管理">