<form>

  <p>登録番号</p>
  <input>

  <p>ご芳名</p>
  <input>

  <p>香典金額</p>
  <input>

  <p>ご住所</p>
  <textarea></textarea>

  <p>電話番号</p>
  <input>

  <p>供花・供物・その他</p>
  <textarea></textarea>

</form>